:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  line-height: 1.3;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 1.6rem;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #0c4b33;
  padding: 2rem;
  width: 100%;
}

.header__heading--firstWord {
  font-size: 4rem;
  font-weight: bold;
  text-transform: lowercase;
  color: white;
}

.header__heading--lastWord {
  color: #43b58a;
}
.header__heading {
  font-size: 2rem;
  font-weight: normal;
}
.break {
  margin: 0 2rem;
}

.nav__container {
  margin: 1rem 0;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav--listItem {
  color: #fff;
  text-decoration: none;
}

.search__container {
  display: flex;
  justify-content: space-between;
  background-color: #44b78b;
  align-items: center;
  padding: 0 2rem;
  height: 8rem;
}

.header__document {
}

.header__search {
  width: 20%;
  height: 5rem;
  font-size: 2rem;
}

.header__search::placeholder {
  text-align: center;
}
section pre {
  background: black;
  color: white;
  font-size: 2rem;
  margin: 2rem 5rem;
}

main {
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-flow: column;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 24.5rem;
  right: 0;
  background-color: #44b78b;
  color: #fff;
  padding: 1rem;
  margin-left: 5rem;
}

.sidebar__content {
  flex: 0 1 auto;
}
.content {
  margin: 0 30% 0 2rem;
  padding: 0 2rem 0 0;
}

.content__heading {
  font-weight: 700;
}

.code__container {
  background-color: #f8f8f8;
}

.code__container--content {
  padding: 0;
  font-family: monospace, sans-serif;
  font-size: 1.5rem;
  color: #000000;
}

.pageSwitch {
  background-color: #44b78b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
  margin: 2rem 0 2rem 0;
}

footer {
  display: flex;
  flex-direction: row;
}

footer nav {
}
